{% extends "::base.html.twig" %}

{% block title %}Wszystkie Tweety{% endblock %}

{% block body %}
    <h1>Wszystkie Tweety:</h1>


    {% for tweet in tweets %}
        <div class="card border-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">#{{ tweet.id }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ tweet.name }}</h4>
                <p class="card-text">{{ tweet.content }}</p>
            </div>
        </div>
    {% endfor %}


{% endblock %}
