{% extends "::base.html.twig" %}

{% block title %}Tweet {{ tweet.id }}{% endblock %}

{% block body %}

    <h1> Edycja Tweeta</h1>

    <div class="card border-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">#{{ tweet.id }}</div>
        <div class="card-body">
            <h4 class="card-title">{{ tweet.name }}</h4>
            <p class="card-text">{{ tweet.content }}</p>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}